# Movies Tonight Part 2: SQL DDL

In [2]:
%load_ext sql

1. **Create / Reset a SQLite database.** 
    - Name the database `Movies.db`.
    - Add `DROP TABLE IF EXISTS` queries make sure you have a blank database. 
    - Use SQL comments to ay what each line does

In [3]:
%sql sqlite:///Movies.db

'Connected: @Movies.db'

2. **Use SQL Create Table commands to implement the table designs you created in Part 1.** 
    - Take care with your data types! (You do not need to populate them yet. Thatâ€™s Part 3.) 
    - Use a surrogate key for the primary key of each table. The data type descriptor is `INTEGER PRIMARY KEY`.
    - If you make a mistake, recreate the database from scratch using your code from step 1 above.

In [4]:
%%sql

DROP TABLE IF EXISTS THEATER;
CREATE TABLE THEATER (
  TheaterID INTEGER PRIMARY KEY,
  TheaterName TEXT NOT NULL,
  Location TEXT NOT NULL,
  Phone TEXT NOT NULL
);
DROP TABLE IF EXISTS ARTIST;
CREATE TABLE ARTIST (
  ArtistID INTEGER PRIMARY KEY,
  ArtistName TEXT NOT NULL,
  Headshot BLOB
);
DROP TABLE IF EXISTS MOVIE;
CREATE TABLE MOVIE (
  MovieID INTEGER PRIMARY KEY,
  Title TEXT NOT NULL,
  Rating TEXT
);
DROP TABLE IF EXISTS SHOWTIME;
CREATE TABLE SHOWTIME (
  ShowTimeID INTEGER PRIMARY KEY,
  TheaterID INTEGER NOT NULL,
  MovieID INTEGER NOT NULL,
  ShowTime TEXT,
  FOREIGN KEY (TheaterID) REFERENCES THEATER (TheaterID),
  FOREIGN KEY (MovieID) REFERENCES MOVIE (MovieID)
);
DROP TABLE IF EXISTS CREDIT;
CREATE TABLE CREDIT (
  CreditID INTEGER PRIMARY KEY,
  CCode TEXT NOT NULL, 
  ArtistID INTEGER NOT NULL,
  ArtistName TEXT NOT NULL,
  MovieID INTEGER NOT NULL,
  Title TEXT NOT NULL,
  FOREIGN KEY (ArtistID) REFERENCES ARTIST (ArtistID),
  FOREIGN KEY (ArtistName) REFERENCES ARTIST (ArtistName),
  FOREIGN KEY (MovieID) REFERENCES MOVIE (MovieID),
  FOREIGN KEY (Title) REFERENCES MOVIE (Title)
);

 * sqlite:///Movies.db
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.

[]

3. **Use SQL ALTER TABLE statements to add the foreign key constraints from your ERD.**  
Take care that each constraint has to have a unique name.

In [ ]:
YOUR CODE HERE

4. **Save, add, commit, and push your work to GitHub.**  
Use the commit summary comment "Completed Part 2".

In [ ]:
#Jeffrey Ni